body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: #f1f0f0;
}
.heading{
    color: red;
    font-size: 52px;
    text-align: center;
}

#hero-p{
font-weight: bold;
font-size: 22px;
color: #fcfcfc;
text-align: center;
}

.list-main{
    font-size: 20px;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    gap:60px;
    text-align: center;
    list-style: none;

}

a{
    text-decoration: none;
    color: yellow;
}

a:hover{
    color: orangered;
}

.imgs{
    width: 300px;
    margin: 0 auto;
    display: block;
}

.content{
    padding-left: 10px;
    font-size: 20px;
    line-height: 1.5;
}

.back-home{
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
    width: 150px;

}